/PipelineOutput/testprograms
/PipelineOutput/temp.ipynb
/PipelineOutput/test.qzv
/PipelineOutput/.ipynb_checkpoints
/PipelineOutput/morgan
/filereport_read_run_PRJNA82111_json.txt
/osccar_prism_metadata.txt
/GUI/web_interface/node_modules
/GUI/web_interface/.idea
/GUI/web_interface/.parcel-cache
/GUI/web_interface/dist
.idea
/qiime2/testing
/qiime2/sklearn_classifier/Silva132.qza
/qiime2/sklearn_classifier/Silva138.qza
/qiime2/sklearn_classifier/Greengenes12_10.qza
/qiime2/sklearn_classifier/Greengenes13_8.qza
/qiime2/sklearn_classifier
/qiime2/prometheus.yml
/qiime2/ServiceResourceMonitor.txt
/PipelineOutput/morganSamplesCheck
/PipelineOutput/morganSamplesCheck_TESTING
/PipelineOutput/morganSamplesCheck_TESTING2
/PipelineOutput/morganSamplesCheck_TESTING3
/PipelineOutput/morganSamplesCheck_TESTING4
/PipelineOutput/morganStools

/PipelineOutput/MorganEtAlExperiments
/PipelineOutput/morganSamples
/testdata
/local_history.patch
